*{
    font-family: "Bebas Neue";
}
body{
    margin: 0px;
    background-color: #b4b4b4;
}
.header{
    background-color: #b4b4b4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 160px;
    padding-right: 40px;
}
#recherche{
    margin-top: 15px;
}

#logo{
    height: 100%;
}

.accueilconnexion{
    display: flex;
    flex-direction: row;
    gap: 60px;
    font-size: large;
    padding-right: 120px;
    padding-top: 10px;
}

.barreNav1 {
    display: flex;
    gap: 04%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.a{
    font-size: 250%;
}
.b{
    font-size: 190%;
}
.stext p {
    position: relative;
    padding-left: 25px;

}
.stext h2{
    padding-left: 25px;
    color: aliceblue;
  box-shadow: 1px 1px 0px;
}
.barre {
    display: flex;
    gap: 100px;
    -ms-flex-align: center;
} 
.cases {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 60px;
    padding: 30px;
    back
}
.item {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 100%;

}
.item h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-align: center;
    background-color:black;
    color: #ffffff;
    font-size: 200%;

}
.item h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  text-align: center;
  background-color:black;
  color: #ffffff;
  
  

}
.item img {
    width: 90%;
    height: 90%;

}
.espace{
    background-color: #ffffff;
    height: 1vh;
}
.bande{
    background-color: #4E4E4E;
    height: 40vh;
    text-align:left;
    background-image: url("./fond.png");
    background-repeat:no-repeat;
    background-position: 90%;
    color: #ffffff;
}
.footer{
    background-color: #0D1718;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:center;
    text-align: center;
    color: white;
    font-weight:700;
    font-size: larger;
}
.réseaux{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
.réseaux img{

    width: 30px;
}
.bande p{
    font-size: 15px;
}